.App {
  text-align: center;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.h1 {
  color: blue;
  border: dotted black;
}
.btn {
  background: blueviolet;
  border-color: chocolate;
  border-style: groove;
}
.input {
  color: brown;
  border-color: rosybrown;
  border-style: ridge;
  border-width: 2px;
}
