.App {
  text-align: center;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.h1 {
  background: brown;
  border: outset hotpink;
  font-size: 40px;
  padding: 20px;
}
.btn {
  transition-duration: 0.4s;
  background-color: purple;
  color: yellow;
  border-style: solid;
}
.btn:hover {
  background: black;
}
.input {
  color: brown;
  border-color: rosybrown;
  border-style: inset;
  border-width: 2px;
  border: inset lightseagreen;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 10px;
}
