.App {
  text-align: center;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.h1 {
  color: blue;
  border: outset pink;
}
.btn {
  transition-duration: 0.4s;
  background-color: white;
  color: yellow;
  border-style: solid;
}
.btn:hover {
  background: black;
}
.input {
  color: brown;
  border-color: rosybrown;
  border-style: ridge;
  border-width: 2px;
}
